 
body {
  background-color: white
}
  
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #0077cc;
}

nav a:hover {
  text-decoration: underline;
}



footer {
  margin-top: auto;
  padding: 10px;
  text-align: center;
  background-color: #ec1919;
}